#!/usr/bin/make -f

export PYBUILD_NAME=cloubed

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	# HTML generator
	PYTHONPATH=. http_proxy='localhost' sphinx-build -N -b html doc/ build/html
	# Manpage generator
	PYTHONPATH=. http_proxy='localhost' sphinx-build -N -b man doc/ build/man

clean:
	dh_clean
	rm -rf *.egg-info .pybuild
